#Home {
  width: 100%;
  height: 90vh;
}

#start-btn {
  width: 100%;
}

.padding-top-btm-2e {
  padding: 2em 0;
}

.padding-top--btm-5e {
  padding: 5em 0;
}

.fontSizeBig {
  font-size: 4.5vw;
}

.fontSizeMid {
  font-size: 3.7vw;
}

.btn-css {
  font-size: 3vw;
  background-color: #72cdfc;
  color: white;
  border: 0px;
  border-radius: 0.3em;
  width: 5em;
}

.btn-css:hover {
  background-color: #667bfe;
}
