@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.App {
  text-align: center;
}

div {
  font-family: "Jua", sans-serif;
}

body {
  padding-top: 2em;
}

.footer {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-toggle {
  z-index: 3;
}

.font {
  font-family: 나눔명조, Nanum Myeongjo;
  font-weight: bold;
  font-size: 3em;
  color: #333399;
  text-align: center;
}
.find-ment {
  margin-top: 40px;
  text-align: center;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-word,
.col-image {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
